<!doctype html>
<html lang="en">
<head>
  <title>AuthKit example</title>
  <link rel="stylesheet" href="/styles.css" />
</head>
<body>
  <div class="container">
    <h1>AuthKit example</h1>
    <p>This is an example of how to use AuthKit with an HTML frontend.</p>
    <p>
      <form action="/auth" method="get">
        <button type="submit">Sign in</button>
      </form>
    </p>
  </div>
</body>
</html>
